.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  z-index: 100;

  position: fixed;
}

.list_container {
  width: 60%;
}

.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.active_link {
  font-size: 1em;
  font-weight: 600;
  color: #452820;
  border-bottom: 2px solid #452820;
}

.disactive_link {
  font-size: 1em;
  font-weight: 600;
  color: #181c23;
}

.acc_container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.phone_icon {
  color: #452820;
  font-size: 1.3em;
}

.phone_number {
  font-size: 1.1em;
}

.acc_icon {
  color: #452820;
  font-size: 1.3em;
}
