.welcome p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #11142d;
}

.welcome h1 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -1px;
  line-height: 1.3em;
}

.wrapper {
  width: 55%;
}

.property_block {
  margin: 60px 0;
  border-radius: 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: #80819128 0px 8px 24px, #80819128 0px 16px 56px,
    #80819128 0px 24px 80px;
}

.property_block p {
  margin: 0;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}

.descr_inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input_address,
.input_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descr_inputs > .input_item {
  width: 100%;
}

.input_area label,
.input_address label,
.input_item label {
  font-size: 14px;
  font-weight: 500;
  color: #808191;
  line-height: 1.6em;
  width: 100%;
}

.input_address input,
.input_item input,
.input_item textarea,
.input_area textarea {
  background: #e4e4e4;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #11142d;
  border: 1px solid #eee;
  border-radius: 8px;
  opacity: 0.7;
  outline: none;
  max-width: 100%;
}

.input_area textarea,
.input_item textarea {
  min-width: 100%;
}

.input_item input:focus {
  outline: 2px solid #000;
  background: transparent;
  opacity: none;
}
.input_area,
.location_inputs,
.price_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}

.input_item {
  width: 48%;
}

.input_item select {
  background: #e4e4e4;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #11142d;
  border: 1px solid #eee;
  border-radius: 8px;
  opacity: 0.7;
  outline: none;
  max-width: 100%;
}

.input_address {
  width: 100%;
}

.input_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper button {
  align-self: end;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 35%;
  border: 2px solid #452820;

  background: #452820;
  color: #fff;

  transition: ease-out 0.6s;
}

.wrapper button:hover {
  box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.274);
}

.wrapper button:active {
  background: transparent;
  color: #452820;
  border: 2px solid #452820;
  transition: 0.2s;
}
