@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.main {
  display: flex;
  position: relative;

}

.empty_container {
  width: 50%;
}

.search {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 0% 2% 5%;
  gap: 2em;
}

.location {
  border-radius: 0.5em;
  padding: 2% 2%;
  width: 100%;
  border: 1px solid #452820;
  background-color: transparent;
  color: #452820;
  outline: none;
}

.location::placeholder {
  color: #ab978a;
  font-size: 1em;
}

.map_container {
  width: 50%;
  height: 100vh;
  position: fixed;
}

.map {
  height: 100%;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  width: 100%;
  height: 100%;
}

.card {
  width: 50%;
  height: 33em;
  border-radius: 1em;
  box-shadow: 0 10px 31px 0 rgba(136, 129, 129, 0.09);
  background-color: white;
}

.img_container {
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  height: 14.740625em;
}

.img_container img {
  width: 100%;
  height: 14.740625em;
  object-fit: cover;
  border-radius: 1em 1em 0em 0em;
  cursor: pointer;
  filter: brightness(75%);
  transition: 0.5s;
}

.img_container img:hover {
  transform: scale(1.2);
}

.info_container {
  padding: 0% 0% 5% 0%;
  width: 90%;
  margin: 0 auto;
  line-height: 1em;
  border-bottom: #5c727d3d 1px solid;
}

.info_container h3 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 1em 0 0;
}

.info_container h4 {
  color: #452820;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5em 0;
}

.info_container p {
  line-height: 1.2em;
  font-size: 0.9125em;
  color: #6f6f6f;
}

.icons {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  color: #5c727d;
}

.agentInfo_canteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 3em;
  margin: 0 auto;
  padding: 0;
}

.agent_photo_name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.agent_photo_name span {
  color: #181c23;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 4%;
}

.agentInfo_canteiner img {
  border-radius: 50%;
  width: 18%;
  height: 70%;
  object-fit: cover;
}

.agent_icons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}

.agent_icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5% 5%;
  font-size: 1em;
  color: #94979b;
  border: 1px solid #94979b69;
  font-weight: 900;
}

.button_container {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.button_container button {
  padding: 2% 3%;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  font-weight: 700;
  background-color: #452820;
}


.rooms {
  display: flex;
  gap: 2em
}

.bedrooms select{
  height: 4em;
  text-align: center;
}

.bathroom select{
  height: 4em;
  text-align: center;
}