@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

.wrapper {
  background: #f7f7f7;
  padding-top: 2em;
  font-family: "Nunito Sans", sans-serif;
}

.main_wrapper {
  background: #fff;
  width: 60%;
  margin: auto;
  border-radius: 0.8em;
  padding: 1.9em 1.9em 0;
  box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
}

/* //////////////////////////// */

.main_card_wrapper {
  width: 60%;
  margin: auto;
  border-radius: 0.8em;
}

.listings_wrapper h3 {
  color: #181c23;
  font-size: 1.5em;
  line-height: 1.3em;
  padding-left: 0.3em;
}

.listings {
  width: 100%;
  display: flex;
  border-radius: 0.8em;
  background-color: #fff;
  box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
  margin-bottom: 3.5em;
}


/* ///////////////////////////////////////////////// */

.cards_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.main {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}



.button_container {
  width: 100%;
  margin: 5% 5.5% 5%;
}

.button_container button {
    padding: 0.64em 2.2em 0.44em;
    cursor: pointer;
    line-height: 2;
    border-radius: 0.63em;
    border: 0.09em solid;
    z-index: 1;
    background-color: #452820;
    position: relative;
    font-weight: 700;
    font-size: 0.93em;
    transition: all 250ms;
    overflow: hidden;
    margin: 0 0.93em 0.93em 0;
    color: #fff;
  }
  
  .button_container button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0.63em;
    background-color: #fff;
    z-index: -1;
    transition: all 250ms;
  }
  
  .button_container button:hover {
    color: #452820;
  }
  
  .button_container button:hover::before {
    width: 100%;
  }