@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.main {
  height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f4ebe4;
  padding: 5% 5%;
}

.text_areas_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 40%;
}

.text p {
  color: #ab978a;
  font-size: 1em;
  font-weight: 500;
}

.text h1 {
  color: #181c23;
  font-family: "merriweather", Sans-serif;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 1.3em;
}

.areas {
  display: flex;
  width: 30%;
}

.img_container {
  position: relative;
  filter: brightness(90%);
}

.areas img {
  width: 14.6em;
  height: 21.8em;
  margin-right: 2em;
  border-radius: 0.5em;
  object-fit: cover;
  filter: brightness(90%);
}
.areas .image_gudermes {
  object-position: left;
}

.city {
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 1.1em;
  color: white;
}

.listing {
  position: absolute;
  bottom: 0%;
  left: 5%;
  font-size: 1.1em;
  color: white;
}

.company_result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.info_container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "Merriweather", serif;
  color: #452820;
  font-size: 3.75em;
  font-weight: 400;
}

.counter + div {
  text-align: center;
  display: flex;
  align-items: center;
}
